In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
# baseline in performance with logistic regression model
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.calibration import CalibratedClassifierCV
from sklearn.metrics.classification import accuracy_score, log_loss
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
##https://machinelearningmastery.com/autoencoder-for-classification/
# train autoencoder for classification with no compression in the bottleneck layer
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.utils import plot_model
from matplotlib import pyplot
from keras.models import load_model 
from imblearn.combine import SMOTEENN

In [2]:
data=pd.read_csv("E:/Venu/Applied ai course/Assignments data and ipynb/Case study 1/tel_churn.csv")
data.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,mnth_tenure_group2_1 - 12,mnth_tenure_group2_13 - 24,mnth_tenure_group2_25 - 36,mnth_tenure_group2_37 - 48,mnth_tenure_group2_49 - 60,mnth_tenure_group2_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [3]:
data.shape

(7032, 52)

In [4]:
data.dropna(how = 'any', inplace = True)

In [5]:
# Here dropping target variable for splitting input and output data for applying model
input=data.drop('Churn',axis=1)
input.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,mnth_tenure_group2_1 - 12,mnth_tenure_group2_13 - 24,mnth_tenure_group2_25 - 36,mnth_tenure_group2_37 - 48,mnth_tenure_group2_49 - 60,mnth_tenure_group2_61 - 72
0,0,0,29.85,29.85,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [6]:
target=data['Churn']
target.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [7]:
x_train,x_test,y_train,y_test=train_test_split(input, target,test_size=0.2)

In [8]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(5625, 51)
(1407, 51)
(5625,)
(1407,)

In [9]:
##https://github.com/pik1989/MLProject-ChurnPrediction
from imblearn.combine import SMOTEENN
sample_data = SMOTEENN()
X_tr_resampled, y_tr_resampled = sample_data.fit_sample(x_train,y_train)

In [10]:
print(X_tr_resampled.shape)
print(y_tr_resampled.shape)
print(x_test.shape)
print(y_test.shape)

(3789, 51)
(3789,)
(1407, 51)
(1407,)

In [12]:
# scale data
scale_input = MinMaxScaler()
scale_input.fit(X_tr_resampled)
X_train_std = scale_input.transform(X_tr_resampled)
X_test_std = scale_input.transform(x_test)

In [13]:
num_of_inputs1=51
encoder1= Input(shape=(num_of_inputs1,))
encoding1 = Dense(32)(encoder1)
encoding1 = BatchNormalization()(encoding1)
encoding1 = LeakyReLU()(encoding1)
# encoder level 2
encoding1 = Dense(16)(encoding1)
encoding1 = BatchNormalization()(encoding1)
encoding1 = LeakyReLU()(encoding1)
# bottleneck
n_bottleneck_features1 =8
bottleneck_features1 = Dense(n_bottleneck_features1)(encoding1)

In [14]:
# define decoder, level 1
decoding1 = Dense(8)(bottleneck_features1)
decoding1 = BatchNormalization()(decoding1)
decoding1 = LeakyReLU()(decoding1)
# decoder level 2
decoding1  = Dense(16)(decoding1)
decoding1 = BatchNormalization()(decoding1)
decoding1  = LeakyReLU()(decoding1)
# output layer
decoding1 = Dense(32)(decoding1)
Decoder1=Dense(51,activation='linear')(decoding1)

In [15]:
# define autoencoder model
model = Model(inputs=encoder1, outputs=Decoder1)

In [16]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 51)]              0
_________________________________________________________________
dense (Dense)                (None, 32)                1664
_________________________________________________________________
batch_normalization (BatchNo (None, 32)                128
_________________________________________________________________
leaky_re_lu (LeakyReLU)      (None, 32)                0
_________________________________________________________________
dense_1 (Dense)              (None, 16)                528
_________________________________________________________________
batch_normalization_1 (Batch (None, 16)                64
_________________________________________________________________
leaky_re_lu_1 (LeakyReLU)    (None, 16)                0
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 72
_________________________________________________________________
batch_normalization_2 (Batch (None, 8)                 32
_________________________________________________________________
leaky_re_lu_2 (LeakyReLU)    (None, 8)                 0
_________________________________________________________________
dense_4 (Dense)              (None, 16)                144
_________________________________________________________________
batch_normalization_3 (Batch (None, 16)                64
_________________________________________________________________
leaky_re_lu_3 (LeakyReLU)    (None, 16)                0
_________________________________________________________________
dense_5 (Dense)              (None, 32)                544
_________________________________________________________________
dense_6 (Dense)              (None, 51)                1683
=================================================================
Total params: 5,059
Trainable params: 4,915
Non-trainable params: 144
_________________________________________________________________

In [17]:
model.compile(loss='mse',optimizer='Adam',)

In [18]:
# fit the autoencoder model to reconstruct input
Auto_E_D1 = model.fit(X_train_std, y_tr_resampled, epochs=50, batch_size=16, verbose=1, validation_data=(X_test_std, y_test))

Epoch 1/50
237/237 [==============================] - 1s 6ms/step - loss: 0.2066 - val_loss: 0.1463
Epoch 2/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0940 - val_loss: 0.1437
Epoch 3/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0857 - val_loss: 0.1456
Epoch 4/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0812 - val_loss: 0.1454
Epoch 5/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0769 - val_loss: 0.1453
Epoch 6/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0788 - val_loss: 0.1477
Epoch 7/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0766 - val_loss: 0.1475
Epoch 8/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0735 - val_loss: 0.1461
Epoch 9/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0728 - val_loss: 0.1404
Epoch 10/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0742 - val_loss: 0.1455
Epoch 11/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0743 - val_loss: 0.1420
Epoch 12/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0728 - val_loss: 0.1426
Epoch 13/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0704 - val_loss: 0.1480
Epoch 14/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0709 - val_loss: 0.1472
Epoch 15/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0682 - val_loss: 0.1467
Epoch 16/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0727 - val_loss: 0.1441
Epoch 17/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0682 - val_loss: 0.1568
Epoch 18/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0691 - val_loss: 0.1505
Epoch 19/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0659 - val_loss: 0.1475
Epoch 20/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0683 - val_loss: 0.1486
Epoch 21/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0666 - val_loss: 0.1439
Epoch 22/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0655 - val_loss: 0.1415
Epoch 23/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0657 - val_loss: 0.1489
Epoch 24/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0647 - val_loss: 0.1499
Epoch 25/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0648 - val_loss: 0.1465
Epoch 26/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0621 - val_loss: 0.1443
Epoch 27/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0612 - val_loss: 0.1512
Epoch 28/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0644 - val_loss: 0.1449
Epoch 29/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0653 - val_loss: 0.1537
Epoch 30/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0618 - val_loss: 0.1529
Epoch 31/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0635 - val_loss: 0.1524
Epoch 32/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0631 - val_loss: 0.1524
Epoch 33/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0628 - val_loss: 0.1447
Epoch 34/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0625 - val_loss: 0.1438
Epoch 35/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0620 - val_loss: 0.1534
Epoch 36/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0620 - val_loss: 0.1472
Epoch 37/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0622 - val_loss: 0.1479
Epoch 38/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0607 - val_loss: 0.1551
Epoch 39/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0592 - val_loss: 0.1525
Epoch 40/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0589 - val_loss: 0.1510
Epoch 41/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0594 - val_loss: 0.1448
Epoch 42/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0611 - val_loss: 0.1456
Epoch 43/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0606 - val_loss: 0.1528
Epoch 44/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0593 - val_loss: 0.1502
Epoch 45/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0576 - val_loss: 0.1533
Epoch 46/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0587 - val_loss: 0.1476
Epoch 47/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0593 - val_loss: 0.1568
Epoch 48/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0593 - val_loss: 0.1587
Epoch 49/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0588 - val_loss: 0.1515
Epoch 50/50
237/237 [==============================] - 1s 4ms/step - loss: 0.0602 - val_loss: 0.1527

In [19]:
encoder_only = Model(inputs=encoder1, outputs=bottleneck_features1 )

In [20]:
encoder_only.save('encoder_mo.h5')

In [21]:
encoder_only = load_model('encoder_mo.h5')

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.

In [22]:
X_train_encoder = encoder_only.predict(X_train_std)

In [23]:
X_test_encoder = encoder_only.predict(X_test_std)

# APPLYING MODELS

### Random Forest

In [24]:
model1=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)
model1.fit(X_train_encoder,y_tr_resampled)
y_pred_rf=model1.predict(X_test_encoder)
model1.score(X_test_encoder,y_test)

0.7810945273631841

# Xgb Classifier

In [ ]:
# https://www.analyticsvidhya.com/blog/2016/03/complete-guide-parameter-tuning-xgboost-with-codes-python/
model2=XGBClassifier()

prams={
    'learning_rate':[0.01,0.03,0.05,0.1,0.15,0.2],
     'n_estimators':[100,200,500,1000,2000],
     'max_depth':[3,5,10],
    'min_child_weight':[1,4,7],
    'colsample_bytree':[0.1,0.3,0.5,1],
    'subsample':[0.1,0.3,0.5,1]
}
model2=RandomizedSearchCV(model2,param_distributions=prams,verbose=10,n_jobs=-1,cv=5)
model2.fit(X_train_encoder,y_tr_resampled)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    5.9s

In [ ]:
print(model2.best_params_)

In [ ]:
model2 =XGBClassifier(subsample=1,n_estimators=200,min_child_weight=1,max_depth=5,learning_rate=0.03,colsample_bytree=0.5)
model2.fit(X_train_encoder,y_tr_resampled)

In [ ]:
 y_pred_xgb=model2.predict(X_test_encoder)

In [ ]:
model2.score(X_test_encoder,y_test)

# ADABOOST Classifier

In [ ]:
model3=AdaBoostClassifier()

parameters={
    'learning_rate':[0.01,0.03,0.05],
     'n_estimators':[100,200,500]
}
model3=RandomizedSearchCV(model3,param_distributions=parameters,verbose=10,n_jobs=-1,cv=5)
model3.fit(X_train_encoder,y_tr_resampled)

In [ ]:
print(model3.best_params_)

In [ ]:
model3=AdaBoostClassifier(learning_rate=0.05,n_estimators=500)
model3.fit(X_train_encoder,y_tr_resampled)

In [ ]:
y_pred_ada=model3.predict(X_test_encoder)

In [ ]:
model3.score(X_test_encoder,y_test)

# Applying models without auto encoders and decoders

In [ ]:
model_en=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)
model_en.fit(x_train,y_train)
y_pred=model_en.predict(x_test)
model_en.score(x_test,y_test)

In [ ]:
print(X_tr_resampled.shape)
print(y_tr_resampled.shape)
print(x_test.shape)
print(y_test.shape)

In [ ]:
model_en_sam=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)
model_en_sam.fit(x_train,y_train)
y_pred=model_en_sam.predict(x_test)
model_en_sam.score(x_test,y_test)

In [67]:
# https://www.analyticsvidhya.com/blog/2016/03/complete-guide-parameter-tuning-xgboost-with-codes-python/
model_xgb=XGBClassifier()

prams={
    'learning_rate':[0.01,0.03,0.05,0.1,0.15,0.2],
     'n_estimators':[100,200,500,1000,2000],
     'max_depth':[3,5,10],
    'min_child_weight':[1,4,7],
    'colsample_bytree':[0.1,0.3,0.5,1],
    'subsample':[0.1,0.3,0.5,1]
}
model_xgb=RandomizedSearchCV(model_xgb,param_distributions=prams,verbose=10,n_jobs=-1,cv=5)
model_xgb.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   23.3s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   25.3s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   28.1s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   36.8s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   40.1s finished

[19:58:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

RandomizedSearchCV(cv=5,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=None, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n_estimators=100,...
                                           reg_lambda=None,
                                           scale_pos_weight=None,
                                           subsample=None, tree_method=None,
                                           validate_parameters=None,
                                           verbosity=None),
                   n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.1, 0.3, 0.5, 1],
                                        'learning_rate': [0.01, 0.03, 0.05, 0.1,
                                                          0.15, 0.2],
                                        'max_depth': [3, 5, 10],
                                        'min_child_weight': [1, 4, 7],
                                        'n_estimators': [100, 200, 500, 1000,
                                                         2000],
                                        'subsample': [0.1, 0.3, 0.5, 1]},
                   verbose=10)

In [68]:
print(model_xgb.best_params_)

{'subsample': 0.1, 'n_estimators': 100, 'min_child_weight': 7, 'max_depth': 3, 'learning_rate': 0.1, 'colsample_bytree': 0.5}

In [69]:
model_xgb =XGBClassifier(subsample=0.1,n_estimators=100,min_child_weight=7,max_depth=3,learning_rate=0.1,colsample_bytree=0.5)
model_xgb.fit(x_train,y_train)

[19:58:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=7, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [70]:
 y_xgb=model_xgb.predict(x_test)

In [71]:
model_xgb.score(x_test,y_test)

0.8073916133617626